.menu {
  float: left;
  cursor: pointer;
  margin-left: 2%;
  padding-left: 1.25em;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 2;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: 1px;
  box-shadow: inset 0.01vw 0.06vw 0 black;
}
.menu-top {
  top: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
.menu-middle1 {
  top: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.menu-middle2 {
  top: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.menu-bottom {
  top: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
.menu.is-active .menu-middle1{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu.is-active .menu-middle2{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu.is-active .menu-top{
  top: 18px;
  width: 0%;
  left: 50%;
}
.menu.is-active .menu-bottom{
  top: 18px;
  width: 0%;
  left: 50%;
}
